/* Color Theme Swatches in RGBA */

.Max-Fit-Fitness-and-Nutrition-App-UI-Design-1-rgba {
    color: rgba(242, 60, 127, 1);
}

.Max-Fit-Fitness-and-Nutrition-App-UI-Design-2-rgba {
    color: rgba(70, 30, 216, 1);
}

.Max-Fit-Fitness-and-Nutrition-App-UI-Design-3-rgba {
    color: rgba(111, 106, 242, 1);
}

.Max-Fit-Fitness-and-Nutrition-App-UI-Design-4-rgba {
    color: rgba(41, 40, 89, 1);
}

.Max-Fit-Fitness-and-Nutrition-App-UI-Design-5-rgba {
    color: rgba(14, 22, 38, 1);
}


/* Color Theme Swatches in RGBA BACKGROUND */

.Max-Fit-Fitness-and-Nutrition-App-UI-Design-1-bg {
    color: rgba(242, 60, 127, 1);
}

.Max-Fit-Fitness-and-Nutrition-App-UI-Design-2-bg {
    color: rgba(70, 30, 216, 1);
}

.Max-Fit-Fitness-and-Nutrition-App-UI-Design-3-bg {
    color: rgba(111, 106, 242, 1);
}

.Max-Fit-Fitness-and-Nutrition-App-UI-Design-4-bg {
    color: rgba(41, 40, 89, 1);
}

.Max-Fit-Fitness-and-Nutrition-App-UI-Design-5-bg {
    color: rgba(14, 22, 38, 1);
}