header {
    z-index: 4;
    height: 50vh;
    width: 100vw;
    position: fixed;
}

.header_search {
    height: 100%;
    width: 100vw;
    position: absolute;
}

.header_connect {
    width: 100vw;
    position: fixed;
    height: 50px;
    top: 0;
}

.connect {
    position: relative;
    display: inline-block;
    float: right;
    margin: 3px;
}

.input-group {
    margin-top: 25px;
    width: 300px;
    display: -webkit-box;
    margin-left: auto;
    margin-right: auto;
}

.fa-ship {
    margin-left: 50%;
    transform: translateX(-50%);
}

.form-outline {
    width: 250px;
}

.btns {
    width: 50px;
}

.zone_search {
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-bottom: 0px;
    bottom: 0px;
}

.topwave {
    position: inherit;
}