* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

canvas {
    margin: auto;
    margin-top: 10%;
    background: rgba( 255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 15.5px);
    -webkit-backdrop-filter: blur( 15.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    width: 960px;
    height: 640px;
}